asgiref==3.5.2
autopep8==1.7.0
Django==4.1
django-cors-headers==3.13.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
fontawesomefree==6.4.0
sqlparse==0.4.3
django-allauth==0.54.0
crispy-bootstrap5==0.7